<form method="post" action="/ingredients">

    <label for="delete">What ingredient would you like to delete?</label>
  <input type="text" name="delete">
  <br>
  <button type="submit">DELETE</button>

</form>