
<div class="home-buttons">
  <button class="ingredients-button"><a href="/ingredients">Whats in the pantry?</a></button>
  <br>
  <br>
  <button class="recipes-button"><a href="/recipes">What recipe do you want?</a></button>
</div>
