
<div>
  <a href="/ingredients"><button class="ingredients-button home-buttons">Whats in the pantry?</button></a>
  <br>
  <br>
  <a href="/recipes"><button class="recipes-button home-buttons">What recipe do you want?</button></a>
  <br>
  <br>
  <a href="/shopping_list"><button class="list-button home-buttons">Shopping List</button></a>
</div>
