@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: 'Indie Flower', cursive;
  background-color: #c7c7c7;
  text-align:center
}

.home-buttons {
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

